div#pnud-panel{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 5px 5px;
    background-color: rgba(0,0,0,0.75);
    color: white;
    width:100%;
}

div#pnud-panel .pnud-header{
    float: left;
}

div#pnud-panel #pnud-opciones{
    min-height: 20px;
    padding: 2px 5px;
    margin-left: 10px;
    border-left: 1px solid white;
    float: left;
}

div#pnud-panel #pnud-opciones a, #pnud-opciones a.opcion:link, #pnud-opciones a.opcion:visited{
    padding: 1px 2px;
    margin-right: 6px;
    color: white;
    text-decoration: none;
}

div#pnud-panel #pnud-opciones a i.fa{
    color: white;
    font-size:18px;
}

