html,body {
    height: 100%
}


/* fix rtl for demo */
.chosen-rtl .chosen-drop { left: -9000px; }
.container h2{margin-top: 30px;}
.container h3{margin-top: 18px;}
.contenedor{
    min-height: 65vh;
}

footer{
    margin-top:100px;
    line-height: 100%;
    letter-spacing: 1px;
}

/*  DATATABLE   */
.dataTables_wrapper {
    margin-top:40px;
}

.dataTables_wrapper table {
    margin-top:15px;
}

.dataTables_wrapper .dt-buttons a.buttons-html5 {
    margin-left: 30px; !important;
}

/*Filtrado de datatable por campos via front end*/
.dataTable thead .subCabecera{
    padding: 0;
    border-bottom:none;
}


.dataTable thead .subCabecera td{
    padding:0;
    border-bottom:none;
}

.dataTable thead .subCabecera input{
    width: 100%;
    margin:0;
    padding: 3px;
    box-sizing: border-box;
    /*border: 1px solid rgba(24, 188, 156,0.8);*/
    border: 1px solid #3498db;

}

.dataTable thead .subCabecera input::placeholder{
    /*color: rgb(24, 188, 156);*/
    color: #3498db88;
}

/* Menu de controlodaores del filtrado de campos via frontend*/
.dataTable thead .controladores td{
    padding: 10px 0;
    border-bottom:none;
    font-size:1.2em;
    text-align: left;
}

.dataTable thead .controladores td a{
    padding: 0;
    margin-right: 8px;

}


/*  PANELES DE ESTADISTICAS */
.estadisticas .panel-body{
    text-align: center;
}
.estadisticas .panel-body .cifras{
    font-size: 3em;
    padding: 5px;
    margin: 10px auto;
    //color: lightgrey;
    color: lightgray;
    display: block;
}

.estadisticas .panel-body .cifra{
    color: limegreen !important;
}

.estadisticas .panel-body .leyenda{
    margin-top: 25px;
    font-size:1.5em;
    display: block;
    color: darkgray;
}

.estadisticas .panel-footer{
    font-size:1.5em;
    color: darkgray;
    text-align: center;
    padding: 0px;
}

/*  Historial de cambios    */

.gitLogHistorico pre {
    background-color: transparent;
    border: none;
    padding:0;
    color: inherit;
}

/*  GENERALES   */
div.menuSubHeader a.btn{
    margin-bottom: 25px;
    margin-left:10px;
}



/*  ABM */
a.btnABMAcciones {
    margin-left: 15px;
    font-size:1.1em;
    color: #777;
}

a.btnABMAcciones.accionEditar{
    color: #3498db !important;
}

a.btnABMAcciones.accionEliminar{
    color: #db3434 !important;
}

a.btnABMAcciones.accionAsociar{
    color: #34db78 !important;
}



/*  MAGIC SUGGEST   */
/*  UTILIZADO para ls selectores enriquecidos     */

.ms-insumo{
    margin-bottom: 5px;
}

.ms-insumo .name{
    font-weight: bold;
    color: #333;
}
.ms-insumo .prop{
    float: left;
    width: 50%;
}
.ms-insumo .prop .lbl{
    font-size: 11px;
    line-height: 11px;
    float: left;
    color: #AAA;
    margin-left: 0px;
    margin-right: 0px;
}
.ms-insumo .prop .val{
    font-size: 11px;
    line-height: 11px;
    color: #666;
}

.ms-sel-item img{
    float: left;
    position: relative;
    top: 3px;
    margin-right: 3px;
}
.ms-sel-item .name{
    float: left;
}


.ms-helper{
    font-size: 0.9em;
    top: -25px;
    color: #18bc9c;
}

.ms-res-group{
    background: #18bc9c !important;
    color: #fefefe !important;
}

